{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Active Listings</h2>

    <div>
        <form action="{% url 'category' %}" method="post">
            {% csrf_token %}
            <p class="my-0 mx-2 text-muted">category</p>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <select name="category" id="category" class="form-control">
                        <option>General</option>
                        {% for category in categories %}
                        <option>{{ category }}</option>
                        {% empty %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <input class="btn btn-primary" type="submit" value="Filter">
                </div>
            </div>
        </form>
    </div>

    <div class="row mx-3 my-3">
        {% for item in items %}
        <div class="card my-2 mx-2" style="width: 18rem;">
            {% if item.img %}
            <img class="card-img-top" src="{{ item.img }}" alt="{{ item.title }}">
            {% endif %}
            <div class="card-body mb-auto">
                <h5 class="card-title mb-2"><a style="color: black;" href="{% url 'dispitem' item_id=item.id %}">{{ item.title }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ item.category }}</h6>
                <h6 class="card-subtitle my-2"><strong style="color: green;">${{ item.price.bid }}</strong></h6>
                <p class="card-text">{{ item.description }}</p>
            </div>
            <div class="card-body" style="display: flex; flex-direction: column; justify-content:end; align-items: end;">
                <a href="{% url 'dispitem' item_id=item.id %}" class="card-link mx-3" >View</a>
            </div>
        </div>
        {% empty %}
        <p>No Listings</p>
        {% endfor %}
    </div>
{% endblock %}