{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

    {% if not details.status %}
        {% if user.is_authenticated %}
        <h5 class="mx-4 text-info">
            {{ statusmessage }}
        </h5>
        {% endif %}
    {% endif %}


    <div class="row mx-3">
        <div class="mx-2 my-3">
            {% if not details.img%}
            <img src="{% static 'auctions/NoPicAvailable.webp' %}" alt="no picture available" height="400" style="border-radius: 8px;">
            {% else %}
            <img src="{{ details.img }}" alt="{{ details.title }}" height="400" style="border-radius: 8px;">
            {% endif %}
        </div>

        <div class="mx-2 my-3 p-2 w-50">
            <div>
                <h2>{{ details.title }}</h2>
                <div>
                    {% if user.is_authenticated %}
                    <div>
                        {% if inwatchlist %}
                        <a href="{% url 'remove' item_id=details.id %}" style="color: red;">Remove from Watchlist</a>
                        {% else %}
                        <a href="{% url 'add' item_id=details.id %}" style="color: green;">Add To Watchlist</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div><hr>
                <p style="text-wrap: wrap;" class="text-break">{{ details.description }}</p>
                <div class="col my-2 mx-0 p-0">
                    <p class="mt-2 mb-0"> <span class="text-muted">Starting Price: </span><strong style="color: green;">${{ details.startingprice }}</strong></p>
                    <div class="row mx-0">
                        <p class="mt-0 mb-0 mr-2"> <span class="text-muted">Current Price: </span><strong style="color: green;">${{ details.price.bid }}</strong></p>
                        <p class="mt-0 mb-0 mx-2"><span class="text-muted">Placed by: </span><strong>{{ details.price.user }}</strong></p>
                    </div>
                </div>
                <p class="mt-0 mb-0">Owner: <strong>{{ details.creator }}</strong></p>
                <p class="mt-0 mb-0">Category: <strong>{{ details.category }}</strong></p>
                {% if details.status %}
                <p class="mt-0 mb-2">Status: <strong style="color: goldenrod;">Open</strong></p>
                {% else %}
                <p class="mt-0 mb-2">Status: <strong style="color: darkcyan;">Closed</strong></p>
                {% endif %}
            </div>
            
            {% if user.is_authenticated%}
                <div>
                    {% if user != details.creator %}
                    {% if details.status %}
                        <div>
                            <form action="{% url 'bid' item_id=details.id %}" class="nav" method="post" autocomplete="off">
                                {% csrf_token %}
                            <div class="d-flex flex-row justify-content-center align-items-center">  
                                <input type="text" min="0" name="bidprice" class="form-control my-2 mr-2" placeholder="starts at: {{ details.price.bid }}">
                                <input class="btn btn-danger w-50 mx-2 my-2" type="submit" value="Bid">
                            </div>
                            </form>
                            <div>
                                {% if message %}
                                    {% if priceistoolow %}
                                    <div class="alert-danger my-1 px-2" role="alert">{{ message }}</div>
                                    {% else %}
                                    <div class="alert-success my-1 px-2" role="alert">{{ message }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                        <div>
                            {% elif user == details.creator %}
                            {% if details.status %}    
                            <a href="{% url 'close' item_id=details.id %}" style="color: red;">Close Auction</a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            
                <div class="mx-2 my-3 p-2 w-50">
                <h2>Comments <span style="font-size: small; color: red;">[ {{ ncomments }} ]</span></h2><hr>
                <form action="{% url 'comment' item_id=details.id %}" method="post">
                    {% csrf_token %}
                    <textarea name="comment" rows="2" class="form-control my-2 shadow-none" placeholder="Add a comment..." style="border: none; background-color: aliceblue; outline: none; border-radius: 12px; resize: none;"></textarea>
                    {% if errormessage %}
                    <div class="alert-danger my-1 px-2" role="alert">{{ errormessage }}</div>
                    {% endif %}
                    <div class="row mx-3">
                        <input type="submit" class="form-control w-25 my-2btn btn-info" value="Comment">
                    </div>
                </form><hr>
                <div class="col">
                    {% for comment in comments %}
                    <div class="col my-0">
                        <div class="col mx-0 p-0 text-break">
                            <p>
                                {{ comment.message }} - <span style="color: blue;"><a href="">{{ comment.auther }}</a></span> <span class="text-muted">{{ comment.commentime }}</span> 
                            </p>
                        </div>
                    </div><hr class="my-0">
                    {% endfor %}
                </div>  
            </div>
        {% endif %}

    </div>
{% endblock %}